// === header === [ Стили для навбара, используемые на всех страницах ] ===

.section-header {
    background: $color_header_bg;
    //padding: 1.3rem 0;
    border-bottom: 1px solid rgba(235, 241, 254, 0.3);
    box-shadow: 0px 10px 20px -13px rgba(62, 84, 216, 0.21);
    position: relative;
    z-index: 11;

    .section-full {
        
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--header_height);

        @media ($media_sm) {
            flex-direction: column;
        }

        &-logo {

            @media ($media_sm) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .logo {
                display: flex;
                width: 15rem;

                picture {
                    display: inline-flex;
                }

                &-icon {
                    max-width: 100%;
                }
            }
        }

        &-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            // @media ($media_sm) {
            //     flex-direction: column;
            //     align-items: flex-start;

            //     &[data-burger='menu'] {
            //         display: none; // если бургер меню активно
            //         width: 100%;
            //     }
            // }

            &-title {
                margin-left: 3rem;
            }

            &-links {
                display: flex;
                align-items: center;

                &-link {
                    display: flex;
                    align-items: center;

                    picture {
                        display: inline-flex;
                    }

                    &:not(:last-child) {
                        margin-right: 1.5rem;
                    }

                    &.active {
                        position: relative;

                        &::before {
                            position: absolute;
                            top: -20%;
                            left: 50%;
                            transform: translateX(-50%);
                            content: "";
                            min-width: 0.3rem;
                            min-height: 0.3rem;
                            border-radius: 50%;
                            background-color: $color_green;

                        }
                    }
                }
            }

            &-select {
                margin-left: 2rem;

                @media ($media_sm) {
                    margin: 0.8rem 0 0 0;
                }
            }
        }
    }
    
}

// === / header ===