.statTable {
    margin: 2.2rem -1.5rem;
    width: calc(100% + 3rem);

    // .statTable__row

    &__row {
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        font-weight: 500;
        font-size: 0.9rem;

        @media ($media_sm) {
            flex-wrap: wrap;
        }

        &--mobileBorder {
            @media ($media_sm) {
                border-top: 1px solid $color_border_dop;
            }
        }

        &--header {
            background-color: $color_table_header;
            border-top: 1px solid $color_border_dop;
            border-bottom: 1px solid $color_border_dop;

            @media ($media_sm) {
                display: none;
            }
            
            .statTable__item {
                color: $color_table_header_title;
            }
        }

        &--content {
            border-bottom: 1px solid $color_border_dop;
        }
    }

    // .statTable__content

    &__content {
        cursor: pointer;

        @media ($media_sm) {
            cursor: initial;
        }

        &:hover {
            transition: 0.3s ease-in-out;
            border-color: 1px solid $color_block_border;
            box-shadow: 0px 0px 9px rgba(62, 84, 216, 0.18);
        }

        &--opened {

            .statSticker__arrow {
                transform: rotate(0deg);
                fill: $color_blue;
            }

            .statTable__subtable {
                display: block;
            }

            @media ($media_sm) {

                .statTable__item {
                    display: flex;
                }

                .statTable__item--label {
                    display: block;
                }

                .statTable__item--sticker {
                    background-color: $color_blue;
                }

                .statSticker__arrow {
                    fill: $color_white;
                }
                
                .statStickerInfo__title,
                .statStickerInfo__cost,
                .statStickerInfo__subtitle {
                    color: $color_white;
                }

                .statSticker__percent--success {
                    color: $color_green_light_table_header;
                }
            }
        }
    }

    // .statTable__subtable

    &__subtable {
        display: none;

        .statTable__row--header {
            border-top: none;
        }
    }

    // .statTable__item

    &__item {
        flex-basis: 100%;
        padding: 1rem 0;
        line-height: 1.5;

        @media ($media_sm) {
            display: none;
            flex-direction: column;
            flex-basis: 50%;
            justify-content: space-between;
        }

        &--grow {
            flex-basis: 150%;
        }

        &--shrink {
            flex-basis: 60%;
        }

        &--success {
            color: $color_green;
        }

        &--error {
            color: $color_red;
        }

        &--comment {
            color: $color_grey;
            overflow: hidden;
            text-overflow: ellipsis;

            @media ($media_sm) {
                flex-basis: 100%;

                .statTable__value {
                    white-space: initial;
                    line-height: 1.6;
                }
            }
        }

        &--sticker {
            overflow: hidden;

            @media ($media_sm) {
                display: flex;
                margin: 0 -1.5rem;
                padding: 1rem 1.5rem;
                flex-direction: row;
                flex-basis: calc(100% + 3rem);
            }
        }

        &--mobDate {
            @media ($media_sm) {
                font-weight: bold;
                font-size: 1.5rem;
            }
        }

        &--label {
            @media ($media_sm) {
                display: block;
            }
        }
    }

    &__description {
        display: none;
        margin-bottom: 0.4rem;
        color: $color_table_header_title;

        @media ($media_sm) {
            display: inline-block;
        }
    }

    &__label {
        padding: 0.3rem 0.7rem;
        background-color: $color_grey;
        color: $color_white;
        border-radius: 0.5rem;

        &--success {
            background-color: $color_green;
        }

        &--error {
            background-color: $color_red;
        }
    }

    &__value {
        white-space: nowrap;
    }

    &__pencil {
        transition: 0.3s ease-in-out;
        stroke: lighten($color_blue, 15%);
        width: 1.3rem;
        height: 1.3rem;
        cursor: pointer;

        &:hover {
            stroke: $color_blue;
        }
    }
}


.statSubtable {
    padding: 1.5rem;
    background-color: $color_table_header;
    border-bottom: 1px solid $color_border_dop;

    // .statSubtable__buttons

    &__buttons {
        display: flex;

        @media ($media_sm) {
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    // .statSubtable__button

    &__button {
        padding: 0.9rem 3.3rem;
        font-size: 0.9rem;

        @media ($media_sm) {
            flex-basis: calc(50% - 0.5rem);
            padding: 0.9rem 0;
        }

        &--right {
            margin-left: auto;

            @media ($media_sm) {
                margin-top: 1rem;
                flex-basis: 100%;
                border: none;
                background-color: transparent;
            }
        }

        &:not(:last-child) {
            margin-right: 1rem;

            @media ($media_sm) {
                margin-right: 0;
            }
        }
    }

    // .statSubtable__table

    &__table {

    }

    // .statSubtable__pagination

    &__pagination {

        @media ($media_sm) {
            text-align: center;
        }

        span {
            margin-left: 1.5rem;

            @media ($media_sm) {
                display: inline-block;
                margin: 1rem 0 0 0;
            }
        }
    }
}

.statSticker {
    display: flex;
    align-items: center;

    // .statSticker__icon

    &__icon {
        margin-right: 0.8rem;
    }

    // .statSticker__arrow

    &__arrow {
        width: 0.8rem;
        height: 0.8rem;
        fill: $breadcrumb_border;
        margin-top: 0.5rem;
        transform: rotate(-90deg);
        transition: 0.2s ease-in-out;
    }

    // .statSticker__img

    &__img {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 0.6rem;

        img {
            max-width: 100%;
        }
    }

    // .statSticker__content

    &__content {
        margin-right: 0.6rem;
    }

    // .statSticker__percent

    &__percent {
        font-weight: 600;
        font-size: 1.3rem;
        margin-left: auto;
        display: none;

        @media ($media_sm) {
            display: inline;
        }

        &--success {
            color: $color_green;
        }

        &--error {
            color: $color_red;
        }

    }
}

.statStickerInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-weight: 500;
    max-width: 7rem;

    @media ($media_xl) {
        max-width: 5rem;
    }

    @media ($media_sm) {
        max-width: 10rem;
    }

    // .statStickerInfo__title

    &__title {
        font-weight: 600;
        color: $color_blue;
        font-size: 0.9rem;

        @media ($media_sm) {
            font-size: 1rem;
        }
    }

    // .statStickerInfo__cost

    &__cost {
        font-size: 0.9rem;
        margin-left: 0.3rem;
        display: none;

        @media ($media_sm) {
            display: inline;
        }
    }

    // .statStickerInfo__subtitle

    &__subtitle {
        flex-basis: 100%;
        font-size: 0.8rem;
        color: $color_grey;

        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}



.compare {
    margin-top: 3.33rem;
    margin-bottom: 2.77rem;

    &-header {
        margin-bottom: 2.22rem;

        h3 {
            font-size: 1.33rem;
            color: $color_black_title;
            font-weight: 600;
        }
    }

    &-menu {
        display: flex;
        border-bottom: 1px solid $color_block_border;
        justify-content: space-between;

        @media ($media_sm) {
            margin: 0 -1.5rem;
            padding: 0 1.5rem;
            flex-direction: column;
        }

        &-choose {
            display: flex;

            @media ($media_sm) {
                flex-direction: column;
            }

            &-item {
                display: flex;
                align-items: center;

                &-name {
                    margin-right: 1rem;
                    font-weight: 600;
                    color: $color_black_title;

                    @media ($media_sm) {
                        display: flex;
                    }

                    > span {
                        position: relative;
                        padding-left: 1.2rem;

                        &::before {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);

                            content: "";
                            min-width: 0.8rem;
                            min-height: 0.8rem;
                            background-color: red;
                            border-radius: 0.25rem;
                        }

                        &.success {
                            &::before {
                                background-color: $color_green;
                            }
                        }

                        &.primary {
                            &::before {
                                background-color: lighten($color_blue, 10%);
                            }
                        }
                    }
                }

                &-btn {
                    border: 1px solid $color_border_dop;
                    background-color: $color_block_bg;
                    padding: 0.5rem 0.9rem;
                    min-width: unset;

                    > span {
                        font-weight: 500;
                        color: $color_grey;
                        font-size: 0.8rem;

                        &.selected {
                            color: $color_black_main;
                        }
                    }

                    svg {
                        fill: lighten($color_blue, 15%);
                        margin-left: 2rem;

                        @media ($media_xl) {
                            margin-left: 1rem;
                        }
                    }

                    &:hover {
                        border-color: lighten($color_blue, 30%);
                    }

                    .dropdown {

                        @media ($media_sm) {
                            width: 15rem;

                            &-item {

                                span {
                                    white-space: initial;
                                }

                                input[type='radio'] {
                                    &::before {
                                        width: 1.36rem;
                                    }
                                }
                            }
                        }
                    }
                }

                &:not(:last-child) {
                    margin-right: 2rem;

                    @media ($media_xl) {
                        margin-right: 1rem;
                    }

                    @media ($media_sm) {
                        margin: 0 0 1rem 0;

                        .dropdown {
                            transform: translate(-50%, 100%);
                        }
                    }
                }
            }
        }

        &-info {
            display: flex;
            justify-content: space-between;
            margin-left: 0.8rem;

            @media ($media_sm) {
                margin-left: 0;
            }

            &-date {
                display: flex;
                align-items: center;
                margin-right: 3.33rem;

                @media ($media_xl) {
                    margin-right: 2rem;
                }

                @media ($media_sm) {
                    display: none;
                }

                span {
                    font-size: 0.9rem;
                    color: $color_grey;
                    font-weight: 500;
                }
            }

            &-choose {
                display: flex;

                @media ($media_sm) {
                    width: 100%;
                    justify-content: space-between;
                }

                @media ($media_sm) {
                    margin-top: 0.5rem;
                }

                &-item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border-bottom: 3px solid transparent;

                    @media ($media_sm) {
                        padding: 0.5rem 0;
                        justify-content: center;
                    }

                    &:not(:last-child) {
                        margin-right: 1rem;

                        @media ($media_sm) {
                            margin-right: 0;
                        }
                    }

                    span {
                        font-weight: 500;
                        font-size: 0.9rem;
                        padding: 1.2rem 0;
                    }

                    &.dotted {

                        &:hover, &.active {
                            border-bottom: 3px solid transparent;
                        }

                        svg {
                            width: 25px;
                            height: 5px;
                        }
                    }

                    &:hover, &.active {
                        border-color: $color_blue;

                        span {
                            color: $color_blue;
                        }
                    }
                }
            }
        }
    }
}

$banch_info_height: 160px;
$banch_items_height: 60px;

.banchGraph {
    display: flex;

    @media ($media_sm) {
        margin: 0 -1.5rem;
    }

    &-descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        flex-basis: 8.5rem;
        margin-right: 1rem;
        padding: 0.6rem 0;

        @media ($media_xl) {
            flex-basis: 9.5rem;
            padding: 0.6rem;
        }

        @media ($media_sm) {
            background: $color_white;
            box-shadow: 5px 0px 8px rgba(62, 84, 216, 0.1);
            border-radius: 0px 8px 8px 0px;
        }

        &-percent {
            height: $banch_info_height;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            span {
                color: $color_grey;
                font-weight: 500;
                font-size: 0.8rem;
            }
        }

        &-items {
            height: $banch_items_height;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media ($media_sm) {
                align-items: center;
            }

            &-item {
                color: $color_black_title;
                font-size: 0.9rem;
                font-weight: 500;
                white-space: nowrap;

                span {
                    position: relative;
                    padding-left: 1.2rem;

                    &::before {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);

                        content: "";
                        min-width: 0.8rem;
                        min-height: 0.8rem;
                        background-color: red;
                        border-radius: 0.25rem;
                    }

                    &.success {
                        &::before {
                            background-color: $color_green;
                        }
                    }

                    &.primary {
                        &::before {
                            background-color: lighten($color_blue, 10%);
                        }
                    }
                }
            }
        }
    }

    &-content {
        flex-grow: 1;
        display: flex;

        @media ($media_sm) {
            overflow-x: auto;
            padding: 0.3rem;
        }

        &-item {
            padding: 0.6rem;
            cursor: pointer;

            @media ($media_xl) {
                padding: 0.3rem;
            }

            @media ($media_sm) {
                min-width: 6rem;
            }

            &:hover {
                background-color: $color_block_bg;
                box-shadow: 0px 0px 9px rgba(62, 84, 216, 0.18);
                border-radius: 0.25rem;
            }

            &-graph {
                height: $banch_info_height;
                background: lighten($color_grey_counter, 0.8%);
                border-radius: 0.33rem;

                display: flex;
                flex-direction: column;
                justify-content: start;

                &-half {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-end;

                    height: 50%;
                    border-bottom: 2px solid $color_border_graph_banch;

                    &-item {
                        width: 1.2rem;
                        height: 50%;
                        border-radius: 3px 3px 0px 0px;

                        @media ($media_sm) {
                            width: 1.5rem;
                        }

                        &.success {
                            background-color: $color_green;
                            filter: drop-shadow(0px 1px 1px $color_green);
                        }

                        &.primary {
                            background-color: lighten($color_blue, 10%);
                            filter: drop-shadow(0px 1px 1px lighten($color_blue, 10%));
                        }
                    }
                }
            }

            &-date {
                margin: 1rem 0;

                span {
                    color: darken($color_grey, 10%);
                    font-weight: 500;
                    font-size: 0.8rem;
                }
            }

            &-stat {
                font-size: 0.9rem;
                height: $banch_items_height;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    font-weight: 500;

                    &.success {
                        color: $color_green;
                    }

                    &.error {
                        color: $color_red;
                    }
                }
            }
        }
    }
}