.buy-stocks {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50/18*1rem;
  z-index: 0; // иначе провалится шарик у prompt

  .ticket-name {
    margin-left: 12/18*1rem;
  }
  .page__btns {

  }
}

.buy-stocks__prompt {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 300px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: $color_red_semi;
    z-index: -1;
  }
}

.buy-stocks__info-text {
  margin-bottom: 0;
  font-size: 14/18*1rem;
  font-weight: 500;
}

.buy-stocks__index {
  margin-top: 0;
  font-size: 50/18*1rem;
  font-weight: 700;
}


.buy-stocks__table--no-funds {
  position: relative;
  --height: 0; /*устанавливается в design.js*/
}

.buy-stocks__table--no-funds_true {
  &::after {
    content: attr(data-nofunds);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    font-size: 22px;
    text-transform: uppercase;
    //color: $gray-semi;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}

.buy-stocks__btn-refresh {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 20/18*1rem;
  font-weight: 500;
  //color: $gray-semi-light;
  color: $color_blue;
}

.buy-stocks__btns {
  display: flex;
  @include gap(1rem);
  margin-top: 2.7rem;

  .progress {
    flex-grow: 1;
  }
}
