@import "./lib/normalize";
@import "./lib/colors";
@import "./lib/grid";
//@import "./lib/fonts";
//@import "./lib/lightslider";
@import "./lib/selectric";
//@import "./lib/animate";
@import "./lib/mixins";
@import "./lib/burger";
@import "./lib/modal";

@import "header";
@import "footer";
@import "createPortfolio";
@import "404";
@import "emptyPortfolio";
@import "strategyPromo";
@import "myStrategyHeader";
@import "news";
@import "history";
@import "indicators";
@import "dividents";
@import "myPapers";
@import "performance";

// === main ===

.section-main {
    
    .main {
        display: flex;
        min-height: calc(100vh - var(--header_height) - 1px);

        @media ($media_sm) {
            flex-direction: column;
        }

        &-title {
            display: none;

            @media ($media_sm) {
                display: block;
                padding: 2rem calc(var(--section_padding)) 1rem;
                font-size: 2.2rem;
            }
        }

        &-menu {
            flex-basis: 21rem;
            min-width: 21rem;
            background: $color_menu_bg;
            padding: 3rem 1.4rem 3rem var(--section_padding);
            border-right: 2px solid #D3E3FF;

            @media ($media_xl) {
                flex-basis: 15rem;
                min-width: 15rem;
            }

            @media ($media_sm) {
                position: absolute;
                width: 19rem;
                height: 100vh;
                padding: 3rem 1.4rem 3rem calc(var(--section_padding) + 0.8rem);
                transform: translateX(-100%);
                z-index: 1;

                &.active {
                    transform: translateX(0);
                }
            }

            .nav {
                
                &.fixed {
                    position: fixed;
                    top: 3rem;
                }

                ul {
                    li {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &.border-bottom {
                            padding-bottom: 2rem;
                            border-bottom: 1px solid #D3E3FF;
                        }

                        svg {
                            width: 1.5rem;
                            height: 1.5rem;
                            stroke: $color_black_main;
                            margin-right: 0.8rem;

                            @media ($media_sm) {
                                width: 1.8rem;
                                height: 1.8rem;
                            }
                        }

                        a {
                            color: $color_black_main;
                            font-weight: 500;
                            font-size: 1rem;
                            text-decoration: none;

                            @media ($media_sm) {
                                font-size: 1.25rem;
                            }
                        }

                        &:not(:last-child) {
                            margin-bottom: 2rem;
                        }

                        &:hover, &:focus {
                            svg {
                                stroke: $color_blue;
                                fill: $color_blue;
                            }

                            a {
                                color: $color_blue;
                            }
                        }
                    }
                }
            }
        }

        &-content {
            flex-grow: 1;

            @media ($media_sm) {
                
            }
        }
    }
    
}

// === / main ===

.myStrategy {
    margin-top: 4rem;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 1.8rem;
            color: $color_black_title;
            opacity: 0.9;
        }

        button {
            display: flex;
            align-items: center;
            padding: 0.8rem 1.2rem;

            @media ($media_sm) {
                width: auto;
                padding: 0.8rem;
            }

            svg {
                stroke: $color_blue;
                width: 32px;
                height: 32px;
            }

            span {
                color: $color_blue;
                margin-left: 0.5rem;

                @media ($media_sm) {
                    display: none;
                }
            }

            &.active {
                background-color: $color_blue;
                border-color: $color_blue;

                svg {
                    stroke: $color_white;
                }

                span {
                    color: $color_white;
                }
            }
        }
    }

    &-items {
        margin-top: 1.8rem;

        &-item {
            transition: 0.2s ease-in-out;
            background-color: $color_white;
            border: 1px solid $color_block_border;
            border-radius: 1rem;
            padding: 1.5rem;
            overflow: hidden;

            &:hover {
                box-shadow: 0px 18px 16px -13px rgba(62, 84, 216, 0.22);
            }

            &.move {
                box-shadow: 0 0 0 0.5rem $color_strategy_item_outline, 0 0 0 calc(0.5rem + 1px) $color_block_border;
                cursor: grab;
            }

            &.open {
                .myStrategy-items-item-header-toggle {
                    background-color: $color_blue;
                    border-color: $color_blue;
        
                    svg {
                        fill: $color_white;
                        transform: rotate(180deg);
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 1.3rem;
            }

            &-content {

                &.hidden {
                    display: none;
                }

                .nav {
                    margin: 3rem -1.5rem 0 -1.5rem;

                    @media ($media_sm) {
                        margin-top: 0.5rem;
                    }

                    ul {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        border-bottom: 2px solid $color_block_border;
                        padding: 0 1.5rem; 

                        @media ($media_sm) {
                            flex-wrap: wrap;
                        }

                        li {

                            &:not(:last-child) {
                                @media ($media_sm) {
                                    margin-right: 0.2rem;
                                }
                            }

                            a {
                                display: flex;
                                text-decoration: none;
                                padding: 1rem 0;
                                font-weight: 500;
                                font-size: 0.9rem;
                                color: $color_black_main;
                                border-bottom: 3px solid transparent;
                                transform: translateY(2px);

                                @media ($media_sm) {
                                    padding: 0.8rem 0;
                                }

                                &:hover {
                                    color: $color_blue;
                                }

                                &.active {
                                    color: $color_blue;
                                    border-color: $color_blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.strategyCards {
    display: flex;
    margin-top: 3rem;

    @media ($media_sm) {
        flex-direction: column;
    }

    &-card {
        background: $color_white;
        border: 1px solid $color_block_border;
        border-radius: 1rem;
        padding: 1.35rem;
        flex-basis: 33.3%;

        @media ($media_xl) {
            padding: 1.2rem;
        }

        &:not(:last-child) {
            margin-right: 1rem;

            @media ($media_xl) {
                margin-right: 0.8rem;
            }

            @media ($media_sm) {
                margin: 0 0 1rem 0;
            }
        }

        &:hover {
            box-shadow: 0px 18px 16px -13px rgba(62, 84, 216, 0.1);
            background-color: $color_block_bg;
        }

        &-header {
            display: flex;
            align-items: center;

            @media ($media_sm) {
                justify-content: space-between;
            }


            h3 {
                font-size: 1.1rem;
                font-weight: 600;
                margin-right: 0.8rem;

                @media ($media_xl) {
                    font-size: 1rem;
                    margin-right: 0.5rem;
                }
            }

            &-icon {
                position: relative;
                display: flex;
                align-items: center;

                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    stroke: lighten($color_blue, 15%);
                    cursor: pointer;
    
                    &:hover {
                        stroke: $color_blue;
                    }
                }

                input[type='checkbox']:checked ~ .dropdown {
                    display: block;
                }

                .dropdown {
                    display: none;
                    position: absolute;
                    padding: 1.1rem;
                    background-color: $color_block_bg;
                    border: 1px solid $color_block_border;
                    box-shadow: 0px 0px 9px rgba(62, 84, 216, 0.18);
                    border-radius: 0.5rem;
                    z-index: 1;
                    font-size: 0.9rem;
                    width: 20rem;
                    line-height: 1.4;

                    bottom: 0;
                    right: 0;
                    transform: translate(50%, 100%);

                    @media ($media_sm) {
                        transform: translate(0, 100%);
                    }
                }
            }
        }

        &-coef {
            margin: 1.6rem 0;

            span {
                font-size: 2.2rem;
                font-weight: bold;
                color: $color_blue;
            }
        }

        &-range {
            position: relative;
            height: 0.5rem;
            background-color: lighten($color_blue, 20%);
            border-radius: 0.25rem;

            &.multicolor {
                background: linear-gradient(270deg, $color_red 26.43%, rgba(255, 255, 255, 0.1) 59.64%), 
                            linear-gradient(90deg, $color_green 25.13%, rgba(255, 255, 255, 0.1) 72.4%);
            }

            span {
                position: absolute;
                display: inline-block;
                width: 0.8rem;
                height: 0.8rem;
                box-shadow:
                    0 0 0 0.25rem lighten($color_blue, 20%),
                    0 0 0 calc(0.25rem + 1px) $color_blue;
                background-color: $color_blue;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
                transform: translate(-50%, -10%)
            }
        }

        &-text {
            display: flex;
            justify-content: space-between;
            margin-top: 0.7rem;

            span {
                color: $color_grey;
                font-size: 0.9rem;
                line-height: 1.4;

                strong {
                    font-weight: 600;
                    color: $color_blue;
                }

                b {
                    color: $color_black_title;
                }
            }
        }
    }
}

body.topNav {

    @media ($media_full) {
        .page_title {
            display: none;
        }
    
        .section-main {
            position: relative;
        }
    
        .main-menu {
            position: absolute;
            z-index: 12;
            top: calc(-1 * var(--header_height));
            
            width: 60%;
            left: 50%;
            transform: translateX(-50%);
    
            background: unset;
            border: none;
            padding: 0;
    
            nav.nav {
    
                ul {
                    display: flex;
                    justify-content: center;
                    height: var(--header_height);
    
                    li {
                        cursor: pointer;
                        border-bottom: 3px solid transparent !important;
    
                        &.border-bottom {
                            padding: 0;
                            border-bottom: none;
                        }
    
                        &:not(:last-child) {
                            margin: 0 2rem 0 0;
                        }
    
                        svg {
                            display: none;
                        }

                        a {
                            font-weight: 600;
                            color: lighten($color_black_title, 15%);
                        }

                        &:hover {
                            border-color: $color_blue !important;
                        }
                    }
    
                }
            }
        }
    
        .main-contentPadding {
            padding: 2.8rem var(--section_padding);
        }
    }

}

body.viewProfile {

    .page_title {
        display: none;
    }

    .main-contentPadding {
        padding: 2.8rem var(--section_padding);
    }

    .header-logo {

        @media ($media_sm) {
            .burger {
                display: none;
            }

            .logo {
                left: 0;
                transform: translateX(1.5rem);
            }
        }

    }

    .header-controls-links-link {

        &.active, &.person {
            display: none;
        }

        &.registration {
            display: block;

            @media ($media_sm) {
                display: none;
            }

            .btn {
                color: $color_blue;
                padding: 1rem 1.5rem;
                border: none;
                font-size: 0.9rem;
            }
        }

        &.auth {
            cursor: pointer;

            span {
                margin-left: 0.5rem;
                font-weight: 600;
                font-size: 0.9rem;
                color: $color_blue;

                @media ($media_sm) {
                    display: none;
                }
            }
        }

    }

}