@import "./lib/normalize";
@import "./lib/colors";
@import "./lib/grid";
@import "./lib/fonts";
@import "./lib/lightslider";
@import "./lib/selectric";
//@import "./lib/animate";
@import "./lib/mixins";
@import "./lib/burger";
@import "./lib/modal";

@import "header";
@import "footer";
@import "createPortfolio";
@import "404";
@import "emptyPortfolio";
@import "strategyPromo";

// === main ===

.section-main {
    
    .main {
        display: flex;
        min-height: calc(100vh - var(--header_height) - 1px);

        @media ($media_sm) {
            flex-direction: column;
        }

        &-title {
            display: none;

            @media ($media_sm) {
                display: block;
                padding: 2rem calc(var(--section_padding)) 1rem;
                font-size: 2.2rem;
            }
        }

        &-menu {
            flex-basis: 22rem;
            background: $color_menu_bg;
            padding: 3rem 1.4rem 3rem var(--section_padding);
            border-right: 2px solid #D3E3FF;

            @media ($media_xl) {
                flex-basis: 15rem;
            }

            @media ($media_sm) {
                position: absolute;
                width: 19rem;
                height: 100%;
                padding: 3rem 1.4rem 3rem calc(var(--section_padding) + 0.8rem);
                transform: translateX(-100%);
                z-index: 1;

                &.active {
                    transform: translateX(0);
                }
            }

            .nav {
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &.border-bottom {
                            padding-bottom: 2rem;
                            border-bottom: 1px solid #D3E3FF;
                        }

                        svg {
                            width: 1.5rem;
                            height: 1.5rem;
                            stroke: $color_black_main;
                            margin-right: 0.8rem;

                            @media ($media_sm) {
                                width: 1.8rem;
                                height: 1.8rem;
                            }
                        }

                        a {
                            color: $color_black_main;
                            font-weight: 500;
                            font-size: 1rem;
                            text-decoration: none;

                            @media ($media_sm) {
                                font-size: 1.25rem;
                            }
                        }

                        &:not(:last-child) {
                            margin-bottom: 2rem;
                        }

                        &:hover, &:focus {
                            svg {
                                stroke: $color_blue;
                                fill: $color_blue;
                            }

                            a {
                                color: $color_blue;
                            }
                        }
                    }
                }
            }
        }

        &-content {
            flex-grow: 1;

            @media ($media_sm) {
                
            }
        }
    }
    
}

// === / main ===